* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo {
    background-color: #8addfb;
}

.logo {
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    margin-left: 5vh;
    font-size: 28px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background-color: #022B3A;
}

.navlink {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    letter-spacing: 3px;
}

.navlink li {
    list-style: none;
}

.navlink li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
}

.navlink li a:hover {
    background-color: #1F7A8C;
}

.carousel-item {
    height: 60vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.item {
    background: #1F7A8C;
    display: grid;
    min-height: 50vh;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.grid {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.grid .item a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #022B3A;
    color: white;
    max-height: 150px;
    font-weight: bold;
}

.grid .item a:hover {
    background-color: #8addfb;
    color: black;
}

p {
    font-size: 25px;
    font-weight: bold;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

.rodape {
    margin: 20px 10px;
    background-color: #022B3A;
    height: 30vh;
    border-radius: 5px;
}

.rodapetext {
    color: white;
    text-align: center;
    display: block;
    padding-top: 35px;
    font-weight: bold;
}